ul{
    list-style-type: none;
    background-color: blue;
    color: white;
    overflow: auto;
    transition: color;
    
}

li{
    padding: 10px 15px;
    float: right;
}

li:hover{
    font-size: large;
    color: blue;
    background-color: white;
    border: 2px solid blue;
    transition: all;
    transition-duration: 1s;
}

