ul{
    list-style-type: none;
    background-color: blue;
    color: white;
    overflow: auto;
    transition: color;
    
}

li{
    padding: 10px 15px;
    float: right;
}

li:hover{
    font-size: large;
    color: blue;
    background-color: white;
    border: 2px solid blue;
    transition: all;
    transition-duration: 300ms;
}
.parent{
    background-color: blue;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    

}
.child{
    background-color: blue;
    color: white;
    /* margin: 10px; */
    padding: 10px;
}
.child:hover{
    font-size: large;
    color: blue;
    background-color: white;
    border: 2px solid blue;
    transition: all;
    transition-duration: 300ms;
}

